<!DOCTYPE html>
<html>
	<head>
		<title>Beatrix: Make a list and kill them all</title>
		<link rel="stylesheet" href="/styles.css" type="text/css" media="screen" title="no title" charset="utf-8" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/json2.js" type="text/javascript" charset="utf-8"></script>
		<script src="/javascripts/backbone.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="header">
			<h1><a href="#">Beatrix</a></h1>
			<em>Make a list and kill them all</em>
			<a href="/new_project" id="new_project_link">new project</a>
		</div>
		<div id="body">